<div class="card shadow col-4 p-4 m-2">
        @foreach (var productImage in product.ProductImages)
        {
            <img style="width: 200px" src="@productImage.Image" class="card-img-top" alt="product.ProductName">
        }
    

    <div class="card-body">
        <h5 class="card-title">@product.ProductName</h5>

            <div>
                <span>
                    @product.ProductName
                </span>
            </div>
            
            <div>
                <span>
                    price: @product.ProductPrice
                </span>
            </div>
            <div>
                <span>
                    stock: @product.Stock
                </span>
            </div>
            <div>
                <span>
                    Date added: @product.CreatedDate
                </span>
            </div>
            <div>
                <span>
                    @product.Availability
                </span>
            </div>
            

        <div class="d-flex justify-content-around mt-4">
            <button class="btn btn-primary" @onclick="editProduct">Edit</button>
            <button class="btn btn-danger" @onclick="removeProduct">Delete</button>
        </div>
        
    </div>
</div>

@code {
    [Parameter]

    public Product product { get; set; } = default!; //in future a product will be passed

    [Parameter]
    public EventCallback<Product> OnRemoveProduct { get; set; } 

    public async Task removeProduct()
    {
        await OnRemoveProduct.InvokeAsync(product);
    }
    [Parameter]
    public EventCallback<Product> OnEditProduct { get; set; } 

    public async Task editProduct()
    {
        await OnEditProduct.InvokeAsync(product);
    }
}
