@inject ICart _cartService
<div class="card shadow col-3 p-4 m-2" >
    @foreach (var productImage in product.productImagesDtos)
    {
        <img style="width: auto; height: 150px" src="@productImage.Image" class="card-img-top" alt="product.ProductName">
    }
    <div class="card-body">
        <h5 class="card-title">@product.ProductName</h5>

        <div class="d-flex justify-content-between">
            <span>
                @product.ProductDescription
            </span>
            <span>
                @product.ProductPrice
            </span>
            <span>
                <input class="form-control" @bind-value="@quantity"/>
            </span>

        </div>
        <button class="btn btn-primary m-1 justify-content-around" @onclick="AddToCart">Add To Cart</button>
    </div>
</div>


@code {

    private int quantity { get; set; } = 1;
    [Parameter]

    public Product product { get; set; } = default!;

    private async Task AddToCart()
    {
        var cartItem = new AddCartItemDto()
            {
                ProductId = product.ProductId,
                ProductPrice = product.ProductPrice,
                Quantity = quantity
            };
        await _cartService.AddProductToCart(cartItem);
    }
}